body {
    background-color: #272727;
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.link {
    display: block;
    background-color: #555;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.input {
    display: block;
    width: 100%;
    padding: 2em;
    margin-bottom: 100px;
    font-size: inherit;
    background: #0b421e;
    height: 500px;
}

.button {
    display: block;
    background-color: #555;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: inherit;
    color: inherit;
    margin-bottom: 100px;
    width: 100%;
}

.button__second {
    height: 500px;
}

.link:hover {
    background: rgb(166, 221, 166);
    transform: scale(1.03);
    transition: 500ms;
}

.button:hover {
    background: rgb(166, 221, 166);
    transform: scale(1.03);
    transition: 500ms;
}

.button:active {
    background: #24bb44;
}

.link:active {
    background: #24bb44;
}

.button--photo:focus {
    background: url(../img/photo_2024-02-12_23-04-16.jpg) no-repeat center;
    transition: 500ms;
}

.text {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
